/* style.css */

/* Estilos para el <ul> y sus elementos hijos */
.character-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
  }
  
  .character-item {
    flex: 1 1 calc(33.333% - 10px); /* Ajusta el tamaño según sea necesario */
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .character-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px;
  }
  
  /* Otros estilos generales */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header, footer {
    background-color: #f8f9fa;
    padding: 10px 20px;
    text-align: center;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input, button {
    display: block;
    margin-top: 5px;
  }  